<div id="wrapper">
  <div id="loginForm">
    <h3>Hello</h3>
    <div>
      <input type="text" id="txtUsername" />
      <input type="button" value="Register" id="btnRegister" />
    </div>
  </div>

  <div id="chatForm">
    <div id="left">
      <div id="boxTitle">Users Online</div>
      <div id="boxContent">
      </div>
    </div>
    <div id="right">

      <div id="sayHi">
        Hello
        <span id="currentUser">Tan</span>
        <input type="button" value="Logout" id="btnLogout" />
      </div>
      <div id="listMess"></div>
      <div>
        <div id="userTyping">Other is typing</div>
        <input type="text" id="txtMess" />
        <input type="button" id="btnSendMess" value="Send" />
      </div>
    </div>
  </div>
</div>